<h1>Hello World (from crohr)!</h1>
<p>This is the <code>master</code> branch</p>

<%= content_tag :ul do %>
  <%= content_tag_for :li, @posts do |post| %>
    <%= post.title %> (<%= l(post.updated_at) %>
    <%= content_tag :p, post.body %>
  <% end %>
<% end %>

<%= link_to "Write new post", [:new, :post] %> | <%= link_to "Back to PullPreview.com", "https://pullpreview.com" %>
