<h1>Write a new post</h1>

<%= form_for(@post) do |f| %>
  <%= f.label :title, style: "display:block" %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body, style: "display:block" %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit %>
<% end %>
